.bottom-button {
  position: fixed;
  left: 25px;
  right: 25px;
  width: calc(100% - 50px); /* Subtract the left and right margin */
}

.page-header {
  padding: env(safe-area-inset-top) 16px 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  --background: var(--ion-overlay-background-color);
  --border-radius: 12px;
}

/* ViewReminders */

#reminders-view ion-content {
  --background: var(--ion-background-color);
}

#reminders-view .view-reminders-header {
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
}

#reminders-view .reminder-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ViewCategories */

#categories-view ion-content {
  --background: var(--ion-overlay-background-color);
}

#categories-view ion-button {
  --border-radius: 20px;
}

#categories-view ion-item {
  --background: var(--ion-overlay-background-color);
}

/* ViewQuotes */

#quotes-view ion-content {
  --background: var(--ion-overlay-background-color);
}

#quotes-view ion-accordion ion-item[slot='header'] {
  --background: var(--ion-overlay-background-color);
}

#quotes-view ion-accordion ion-item {
  --background: var(--ion-background-color);
}

/* Auth */

#auth-view .login-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#auth-view ion-item {
  width: 100%;
  margin-bottom: 10px;
}

#auth-view ion-input {
  --padding-start: 16px;
}

#auth-view .button {
  width: 90%;
}
