/* ReminderList.css */
#reminder-list-container ion-item {
  --background: var(--ion-overlay-background-color);
  --border-radius: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
  margin-bottom: 12px;
  --border-style: none;
  --inner-padding-end: 12px;
}

#reminder-list-container ion-list {
  background: transparent;
}

.text-center {
  width: 100%;
  text-align: center;
}

.reminder-detail ion-badge {
  cursor: pointer;
}

.reminder-detail {
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.reminder-detail-quote {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.reminder-detail-actions {
  display: flex;
  gap: 12px;
}
